mixin toDo(info)
    div  
        h2 Title: #{info.title}
        h5 Description: #{info.description}
        small Author: #{info.author} 
        br
        small Created At: #{info.createdAt}

    div 
        a(href=`/memo/${info.id}/delete`) Delete 
        br 
        a(href=`/memo/${info.id}/edit`) Edit 
    hr