doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/css/styles.css")
        title #{pageTitle} | #{user ? user.username : "비회원"}
    body 
        header.header 
            div.header__title#jsNavHeader 
                span #{pageTitle}
            div.btn.header__btn#jsNavBtn
                i.fas.fa-bars
        main.main 
            if (errorMessage)
                p=errorMessage 
            block content 
        aside.side-bar 
            block side-bar 
        aside.aside
            .clock__container#jsClockContainer
                div.clock__time#jsClockTime 00:00:00
        include partials/nav.pug
        footer.footer 
            span &copy; #{new Date().getFullYear()} MemoApp 
        block script
        script(src="https://kit.fontawesome.com/6478f529f2.js", crossorigin="anonymous")